# Archivos y directorios generados por Terraform

# Archivos de estado locales (incluyendo backups)
**/*.tfstate
**/*.tfstate.*

# Directorio que contiene los binarios, plugins y módulos
**/.terraform/

# Ficheros de lock de Terraform
**/.terraform.lock.hcl

# Registros de fallos (crash logs)
*.crash
